*
  margin: 0
  padding: 0
body
  color: #0000ff
  background: #ffff46
  height: 100%
header
  height: 100px
  background: #ffcb97
//section
    //height: 495px
    //background: #fbf9a4
//footer
    // height: 100px
    //background: #ffeeba
.slider-item
  background-color: #ccc
  width: 300px
  height: 200px
  padding: 80px
  margin-left: 40px
@import "block/libs"
@import "block/myNav"
@import "block/cardCreate"
// @import "../../node_modules/bootstrap/scss/bootstrap-reboot"
// @import "../../node_modules/bootstrap/scss/bootstrap-grid"
// @import "../../node_modules/bootstrap/scss/_grid.scss"
// @import "../../node_modules/bootstrap/scss/_variables.scss"
// @import "../../node_modules/bootstrap/scss/_utilities.scss"
// @import "../../node_modules/bootstrap/scss/_nav.scss"
// @import "../../node_modules/bootstrap/scss/_navbar.scss"
// @import "../../node_modules/bootstrap/scss/_forms.scss"
// @import "../../node_modules/bootstrap/scss/_buttons.scss"
// @import "../../node_modules/bootstrap/scss/_type.scss"
// @import "../../node_modules/bootstrap/scss/_list-group.scss"
// @import "../../node_modules/bootstrap/scss/_card.scss"
// @import "../../node_modules/bootstrap/scss/_pagination.scss"
// @import "../../node_modules/bootstrap/scss/_images.scss"
// @import "../../node_modules/bootstrap/scss/_badge.scss"
@import "../../node_modules/bootstrap/dist/css/bootstrap.min"