doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="css/main.css")
		title Hello world
	body


		include ../layout/head.pug
		
		section.mt-2.mb-2
			.container
				.d-flex.bd-highlight.border
					.p-2.flex-fill.bd-highlight 
						canvas#cl(width = 400 Height = 200 ) Обновите браузер
						script(src = 'js/main.js')
					.p-2.flex-fill.bd-highlight.border-right.border-left
						form
							.form-group
								label(for="fWidth") Ширина
								input.form-control#fWidth(type="text" aria-describedby="emailHelp" placeholder="Ширина")
							.form-group
								label(for="fHeight") Высота
								input.form-control#fHeight(type="text" placeholder="Высота")
							button.btn.btn-primary(type="submit" onclick="paint()") Отправить
							|
							|<?php $fwidth=($_POST['fwidth']);?>

					.p-2.flex-fill.bd-highlight
						//- h3 #[span Тут ] и вот
						//#app
							//h3 Hello {{ name }}
						//-button(onclick="dt('fWidth','fHeight')") нажми
						//#date
						form
							.form-group
								label(for = 'selectOpt') Стиль
								select#selectOpt.form-control
									option(value = 'False' name = 'one')
									option(value = 'Rock' name = 'one') Рок
									option(value = 'Jaz' name = 'one' ) Джаз
									option(value = 'Blues' name = 'one') Блюз
									option(value = 'Disko' name = 'one' selected) Диско
									option(value = 'Klasic' name = 'one') Классика

		include ../layout/footer.pug


		script(src="js/libs.min.js")
		script(src="js/main.js")
		//script(src="../node_modules/bootstrap/dist/js/bootstrap.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
		script(src="js/oop.js")
		script(src = "js/vue.js")
		script(src = "js/lessons.js")

		//- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		//- integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		//- crossorigin="anonymous")

		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous")