doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="css/main.css")
        title Верстаем
    body


        include ../layout/head.pug

        section.mt-2.mb-2
            .container
                .d-flex.bd-highlight.border
                    .p-2.flex-fill.bd-highlight.border-right
                        form(action="#" method="POST")
                            .form-group
                                label Ширина
                                    input.inputW.form-control(type="text" value=1300 onchange="go()")
                            .form-group
                                label Высота
                                    input.inputH.form-control(type="text" value=1400 onchange="go()")
                            .form-check
                                input.checkImpost.form-check-input#checkImpost(type="checkbox" onchange="go()")
                                label.form-check-label(for="checkImpost") Импост
                            .form-group
                                input.btnWH.btn.btn-info(type="button" value="Построить" onclick="go()")

                    .p-2.flex-fill.bd-highlight
                        svg#svg
                            polygon.top
                            polygon.left
                            polygon.bottom
                            polygon.right
                            rect.impost
                        .form-inline
                            .form-group.changeW
                                label(for="changeW")
                                input#changeW.form-control-sm(type="text" onchange="go()")
                            .form-group.changeH
                                label(for="changeH")
                                input#changeH.form-control-sm(type="text" onchange="go()")


        include ../layout/footer.pug


        script(src="js/libs.min.js")
        script(src="js/main.js")
        //script(src="../node_modules/bootstrap/dist/js/bootstrap.js")
        script(src="https://unpkg.com/@popperjs/core@2"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/vue")
        script(src="js/oop.js")
        script(src = "js/vue.js")
        script(src = "js/lessons.js")
        script(src = "js/first.js")
        script(src = "js/example.js")

        //script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        //- integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        //- crossorigin="anonymous")

        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous")