doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="css/main.css")
        title Hello world
    body


        include ../layout/head.pug

        section.mt-2.mb-2
            .container
                .d-flex.bd-highlight.border
                    .p-2.flex-fill.bd-highlight
                        form(action="" method="post" name = "choiсe")
                            .form-check.form-check-inline
                                input.form-check-input(type="radio"  name="inlineRadioOptions" id="inlineCheckbox1" value="option1")
                                label.form-check-label(for="inlineCheckbox1") 1
                            .form-check.form-check-inline
                                input.form-check-input(type="radio"  name="inlineRadioOptions" id="inlineCheckbox2" value="option2" checked)
                                label.form-check-label(for="inlineCheckbox2") 2
                            .form-check.form-check-inline
                                input.form-check-input(type="radio"  name="inlineRadioOptions" id="inlineCheckbox3" value="option3")
                                label.form-check-label(for="inlineCheckbox3") 3
                            .form-check.form-check-inline
                                input.form-check-input(type="radio"  name="inlineRadioOptions" id="inlineCheckbox4" value="option4")
                                label.form-check-label(for="inlineCheckbox4") 4

                    .p-2.flex-fill.bd-highlight.border-right.border-left
                     section#main
                        .container
                            .calc
                                h2 Расчет стоимости
                                label(for="card_edition") выберите тираж
                                select#card_edition.form-control(name="edition")
                                    option(value="30") 30
                                    option(value="60") 60
                                    option(value="90") 90
                                    option(value="120") 120
                                    option(value="150") 150
                                    option(value="180") 180
                                    option(value="210") 210
                                label(for="card_paper") выберите бумагу
                                select#card_paper.form-control(name="card_paper")
                                    option(value="Белая>") Белая
                                    option(value="Серая") Серая
                                    option(value="Мелованная") Мелованная
                                label(for="card_color") выберите цветность
                                select#card_color.form-control(name="card_color")
                                    option(value="1черная") 1черная
                                    option(value="2черная") 2черная
                                    option(value="1цветная") 1цветная
                                    option(value="2цветная черная") 2цветная черная
                                    option(value="2цветная") 2цветная

                    .p-2.flex-fill.bd-highlight


        include ../layout/footer.pug


        script(src="js/libs.min.js")
        script(src="js/main.js")
        //script(src="../node_modules/bootstrap/dist/js/bootstrap.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="js/oop.js")
        script(src = "js/vue.js")
        script(src = "js/lessons.js")
        script(src = "js/first.js")

        //- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        //- integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        //- crossorigin="anonymous")

        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous")