nav.navbar.navbar-expand-lg.navbar-light.bg-light
			.container
				a.navbar-brand(href="index.php") Главная
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				.collapse.navbar-collapse#navbarNavDropdown
					ul.navbar-nav
						li.nav-item.active
							a.nav-link(href="first.php") Первая 
								span.sr-only current
						li.nav-item
							a.nav-link(href="type.php") Типы
						li.nav-item
							a.nav-link(href=" cardCreate.php") Карточка
						li.nav-item
							a.nav-link(href="typeset.php") Верстаем
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") php
							.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
								a.dropdown-item(href="db.php") Database
								a.dropdown-item(href="oop.php") Трепачев
								a.dropdown-item(href="trepachevJS.php") Трепачев JS
								a.dropdown-item(href="#") Something else here
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Минин
							.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
								a.dropdown-item(href="Minin_JS.php") JS
								a.dropdown-item(href="crm.php") CRM
								a.dropdown-item(href="#") Something else here